.ui-jqgrid
{
    position: relative;

    .ui-th-ltr
    {
        border-left: none;
    }

    .ui-th-rtl
    {
        border-right: none;
    }

    & > .ui-jqgrid-view
    {
	left: 0;
	top: 0;
	padding: 0;
	font-size: @default-font-size;
        input,
        select,
        textarea,
        button
        {
            font-size: @default-font-size;
        }
    }
}
