.ui-jqgrid
{
    .ui-th-ltr
    {
        border-left: none;
    }

    .ui-th-rtl
    {
        border-right: none;
    }

    .ui-jqgrid-htable th
    {
        &.ui-th-ltr
        {
            &:extend(.ui-jqgrid .ui-th-ltr);
        }
        &.ui-th-rtl
        {
            &:extend(.ui-jqgrid .ui-th-rtl);
        }
    }

    .ui-jqgrid-caption-rtl
    {
        text-align: right;
    }
    .ui-jqgrid-hbox-rtl
    {
        float: right;
        padding-left: 20px;
    }
    .ui-jqgrid-resize-ltr
    {
        float: right;
        margin: -2px -2px -2px 0;
    }
    .ui-jqgrid-resize-rtl
    {
        float: left;
        margin: -2px 0 -1px -3px;
    }
    .ui-sort-rtl
    {
        left: 0;
    }

    .ui-jqgrid-bdiv
    {
        tr
        {
            &.ui-row-ltr
            {
                & > td
                {
                    text-align: left;
                    border-right-width: 1px;
                    border-right-color: inherit;
                    border-right-style: solid;
                }
            }
            &.ui-row-rtl
            {
                & > td
                {
                    text-align: right;
                    border-left-width: 1px;
                    border-left-color: inherit;
                    border-left-style: solid;
                }
            }
        }
    }

    .tree-wrap-ltr
    {
        float: left;
    }
    .tree-wrap-rtl
    {
        float: right;
    }
    .ui-ellipsis
    {
        text-overflow: ellipsis;
    }
}