.ui-search-toolbar
{
    padding: 2px 5px;
    
    .ui search-box > *{
	display: inline-block;
    }
    
    .ui-search-oper
    {
	width: 20px;
	padding-right: 0.5em;
    }
    .ui-search-input
    {
	& > input,
	& > select
	{
	    -moz-box-sizing: border-box;
	    -webkit-box-sizing: border-box;
	    box-sizing: border-box;
	}
    }
}

a
{
    &.g-menu-item,
    &.soptclass,
    &.clearsearchclass
    {
        cursor: pointer;
	padding-right: 0.3em;
	padding-left: 0.3em;
    }
}
