body {
  padding-top: 80px;
}
footer {
  margin-top: 100px;
  padding: 40px 0;
  border-top: 1px solid #e5e5e5;
  text-align: center;
  color: #777777;
}
#sub-navigation.affix {
  top: 50px;
}
#sub-navigation .nav ul {
  display: none;
  padding-left: 15px;
}
#sub-navigation .nav ul li a {
  padding: 5px 15px;
}
#sub-navigation .nav li.active > ul {
  display: block;
}
#sub-navigation .nav li.active > a {
  color: #333333;
}
main.container h2 code,
main.container h3 code,
main.container h4 code {
  color: #333;
  background-color: rgba(0, 0, 0, 0.04);
}
main.container .internal-link {
  cursor: pointer;
  color: #333;
  background-color: rgba(0, 0, 0, 0.04);
}
pre .string {
  color: #df5000;
}
pre .number,
pre .literal {
  color: #0086b3;
}
pre .keyword {
  color: #a71d5d;
}
pre .comment {
  color: #969896;
}
pre .tag .title {
  color: #63a35c;
}
pre .tag .attribute {
  color: #795da3;
}
pre .tag .value {
  color: #df5000;
}
#downloadbuilder fieldset {
  margin-bottom: 5px;
}
#downloadbuilder .helptext {
  color: #777777;
}
#downloadbuilder h3 .group-toggle {
  cursor: default;
}
#downloadbuilder h3 .group-toggle .glyphicon {
  font-size: 70%;
  margin-right: 0.2em;
}
.download-sidebar button[disabled] {
  pointer-events: auto;
  cursor: wait;
}
.demo-container .btn-group {
  margin-top: 1em;
}
.demo-container pre {
  display: none;
}
