---
layout: default.hbs
---
<div class="col-md-9 download-container">
{{#rewrite_links}}
{{#markdown}}
{{> body }}
{{/markdown}}
{{/rewrite_links}}

<form id="downloadbuilder">
<fieldset>
<h3>Base</h3>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="js/grid.base.js" checked>
    Base grid
  </label>
</div>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="external/jquery.fmatter.js">
    Formatter
  </label>
</div>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="js/grid.custom.js">
    Additional methods
  </label>
</div>
</fieldset>

<fieldset>
<h3>Editing</h3>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="js/grid.common.js">
    Common
  </label>
</div>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="js/grid.formedit.js">
    Form Editing
  </label>
</div>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="js/grid.filter.js">
    Filter
  </label>
</div>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="js/grid.inlinedit.js">
    Inline Editing
  </label>
</div>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="js/grid.celledit.js">
    Cell Editing
  </label>
</div>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="external/jqModal.js">
    Modal Dialog
  </label>
</div>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="external/jqDnR.js">
    Dragging and Resizing
  </label>
</div>
</fieldset>

<fieldset>
<h3>Specialized Views</h3>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="js/grid.subgrid.js">
    Subgrid
  </label>
</div>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="js/grid.grouping.js">
    Grouping
  </label>
</div>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="js/grid.treegrid.js">
    Tree Grid
  </label>
</div>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="js/grid.pivot.js">
    Pivot Grid
  </label>
</div>
</fieldset>

<fieldset>
<h3>Import / Export</h3>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="js/grid.import.js">
    Import
  </label>
</div>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="external/JsonXml.js">
    XML and JSON utilities
  </label>
</div>
</fieldset>

<fieldset>
<h3>Other</h3>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="js/grid.tbltogrid.js">
    Table to Grid
  </label>
</div>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="js/grid.jqueryui.js">
    jQuery UI addons
  </label>
</div>
</fieldset>

<fieldset>
<h3>Internationalization</h3>
{{#locale_list locales}}
<div class="checkbox locale">
  <label>
    <input type="checkbox" value="{{this.path}}">
    {{this.label}}
  </label>
</div>
{{/locale_list}}
</fieldset>

</div>

<div class="col-md-3">
<div id="sub-navigation" class="nav">
<button type="button" class="btn btn-primary btn-lg btn-block" data-compiling-text="Compiling" data-css-text="Adding CSS" data-locale-text="Adding locales" id="download-button" autocomplete="off">Download</button>
</div>
</form>
</div>
