---
layout: default.hbs
---
<div class="col-md-9 download-container">
{{#rewrite_links}}
{{#markdown}}
{{> body }}
{{/markdown}}
{{/rewrite_links}}

<form id="downloadbuilder">
<fieldset>
<h3>Base</h3>
<div class="checkbox default-locale">
  <label>
  Default locale <select id="default-locale"><option value="">none</option></select>
  </label>
</div>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="external/jquery.fmatter.js">
    Formatter <span class="helptext"> &ndash; Custom and predefined formatters for cell content</span>
  </label>
</div>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="js/grid.custom.js">
    Additional methods
  </label>
</div>
</fieldset>

<fieldset>
<h3>Editing</h3>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="js/grid.common.js">
    Common <span class="helptext"> &ndash; Base module for editing modes</span>
  </label>
</div>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="js/grid.formedit.js">
    Form Editing <span class="helptext"> &ndash; Edit a row in a dedicated form</span>
  </label>
</div>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="js/grid.filter.js">
    Filter <span class="helptext"> &ndash; Search functionality</span>
  </label>
</div>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="js/grid.inlinedit.js">
    Inline Editing <span class="helptext"> &ndash; Edit a row directly in the grid</span>
  </label>
</div>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="js/grid.celledit.js">
    Cell Editing <span class="helptext"> &ndash; Edit individual cells</span>
  </label>
</div>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="external/jqModal.js">
    Modal Dialog <span class="helptext"> &ndash; Modal dialogs for Form Editing</span>
  </label>
</div>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="external/jqDnR.js">
    Dragging and Resizing <span class="helptext"> &ndash; Drag and resize modal Form Editing dialogs</span>
  </label>
</div>
</fieldset>

<fieldset>
<h3>Specialized Views</h3>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="js/grid.subgrid.js">
    Subgrid <span class="helptext"> &ndash; Add nested grid instances to rows</span>
  </label>
</div>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="js/grid.grouping.js">
    Grouping <span class="helptext"> &ndash; Group rows by column values</span>
  </label>
</div>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="js/grid.treegrid.js">
    Tree Grid <span class="helptext"> &ndash; Organize rows in hierarchical structures</span>
  </label>
</div>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="js/grid.pivot.js">
    Pivot Grid <span class="helptext"> &ndash; Reorganize and summarize selected columns and rows</span>
  </label>
</div>
</fieldset>

<fieldset>
<h3>Import / Export</h3>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="js/grid.import.js">
    Import <span class="helptext"> &ndash; Import and export data and configuration</span>
  </label>
</div>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="external/JsonXml.js">
    XML and JSON utilities <span class="helptext"> &ndash; Helper library for Import/Export</span>
  </label>
</div>
</fieldset>

<fieldset>
<h3>Other</h3>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="js/grid.tbltogrid.js">
    Table to Grid <span class="helptext"> &ndash; Convert HTML tables to grids</span>
  </label>
</div>
<div class="checkbox module">
  <label>
    <input type="checkbox" value="js/grid.jqueryui.js">
    jQuery UI addons <span class="helptext"> &ndash; Integrations with jQuery UI widgets</span>
  </label>
</div>
</fieldset>

<fieldset>
<h3>Internationalization</h3>
<p>Needed only if you didn't select a default language above or if you want additional languages (as separate files)</p>
{{#locale_list locales}}
<div class="checkbox locale">
  <label>
    <input type="checkbox" value="{{this.path}}">
    {{this.info.label}} <span class="helptext"> &ndash; {{this.info.helptext}}</span>
  </label>
</div>
{{/locale_list}}
</fieldset>

</form>
</div>

<div class="col-md-3 download-sidebar">
<div id="sub-navigation" class="nav">
<button type="button" class="btn btn-primary btn-lg btn-block" data-compiling-text="Compiling" data-css-text="Adding CSS" data-locale-text="Adding locales" id="download-button" autocomplete="off">Download</button>
</div>
</div>
